/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uilds/
/[Aa]ssetPackage/
/[Hh]ybridCLRData/
/[Oo]ut/
/[Ll]ogs/

/Assets/AssetStoreTools*
/.vs/
/.idea/
/Assets/StreamingAssets
/Build/Out/

*.csproj
*.unityproj
*.booproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.svd
*.zip
*.7z
*.apk

!/Assets/StreamingAssets/.gitkeep
/UnityPackageManager/*
*_BackUpThisFolder_ButDontShipItWithYourGame
*_BurstDebugInformation_DoNotShip
build
